if [ ! -d "./venv/bin" ]; then
    echo "Creating virtual environment..."
    python3 -m venv venv
    if [ -f requirements.txt ]; then
        ./venv/bin/pip install -r requirements.txt
    fi
fi

source ./venv/bin/activate && echo 'Virtual environment ready. Code hard, commit smart.'